<app-toolbar></app-toolbar>
<div class="wrapper">
  <div class="map">
    <canvas #gameMap style="border: 1px solid red;"></canvas>
  </div>
  <div class="legend">
    <h1>Legend</h1>
    <table>
      <th>Check</th>
      <th>Icon</th>
      <th>Specification</th>

      <tr><td><mat-checkbox></mat-checkbox></td><td><img src="../../../assets/Killfeed/Death.png" width="41" height="26"></td><td>Death</td></tr>
      <tr><td><mat-checkbox></mat-checkbox></td><td> <img src="../../../assets/Killfeed/jump.png" width="41" height="26"> </td><td>Jump</td></tr>
      <tr><td><mat-checkbox></mat-checkbox></td><td><img src="../../../assets/Killfeed/CarePackage.png" width="36" height="30"></td><td>Care Package</td></tr>

    </table>
  </div>
</div>
