.wrapper {
  display: block;
  width: 100%;
}

.map {
  float: left;
  width: 80%;
}

.legend {
  width: 20%;
  background-color: chocolate;
  text-align: center;
  float: right;
}
canvas {
  width: 100%;
}
