@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
  color: white;

}

input.mat-input-element {
  color: white;
}

table {
  width: 100%;
  background-color: darkgrey;
}
