<app-toolbar></app-toolbar>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nick name" name='player' [(ngModel)]="player">
  </mat-form-field>
  <button mat-raised-button color="warn" (click)="getPlayerByName(player)">Search</button>
  <br>

<mat-form-field>
  <mat-select placeholder="Select a Season">
    <mat-option *ngFor="let season of seasons" [value]="season.id" (click)="getSeasonStat(playerId, season.id); showData()">
      {{season.id}}
    </mat-option>
  </mat-select>
</mat-form-field>

</form>
<ng-container *ngIf="display">

<table>
  <tr>
    <th>Stats</th>
    <div *ngFor="let data of statModeName" >
    <th>{{data}}</th>
    </div>
  </tr>
  <tr>
    <td>
        <div *ngFor="let data of statName" >
          {{data}}
        </div>
    </td>
    <td>
        <div *ngFor="let data of statSolo" >
          {{data}}
        </div>
    </td>
    <td>
        <div *ngFor="let data of statDuo" >
          {{data}}
        </div>
    </td>
    <td>
        <div *ngFor="let data of statSquad" >
          {{data}}
        </div>
    </td>
  </tr>
</table>
</ng-container>
